<!DOCTYPE html>
<html lang="en">
<head>
<title>Blog Single</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Demo project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap4/bootstrap.min.css">
<link href="/static/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="/static/plugins/colorbox/colorbox.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/static/css/blog_single.css">
<link rel="stylesheet" type="text/css" href="/static/css/blog_single_responsive.css">
<link rel="icon" href="static/images/logo.jpg">
<body>

<div class="super_container">
	
	<!-- Header -->

	<header class="header">
			
		<!-- Top Bar -->
		<div class="top_bar">
			<div class="top_bar_background" style="background-color: black;"></div>
			<div class="top_bar_container">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="top_bar_content d-flex flex-row align-items-center justify-content-start">
								<ul class="top_bar_contact_list">
									<li>
										<i class="fa fa-envelope" aria-hidden="true"></i>
										<div>Email: info.fsf_ilaro@gmail.com</div>
									</li>
									<li>
										<i class="fa fa-phone" aria-hidden="true"></i>
										<div>Call Us: +234 7037 6036 58 </div>
									</li>
								</ul>
								<div class="top_bar_social ml-auto">
									<ul class="social_list">
										<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
										<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>				
		</div>

		<!-- Header Content -->
		<div class="header_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="header_content d-flex flex-row align-items-center justify-content-start">
							<div class="logo_container">
								<a href="#">
									<div class="logo"><img src="static/images/logo.jpg" alt=""></div>
									<div class="logo_text">mimosan</div>
								</a>
							</div>
							<nav class="main_nav_contaner ml-auto">
								<ul class="main_nav">
									<li><a href="/">home</a></li>
									<li><a href="/about">about</a></li>
									<li><a href="/sermons">sermons</a></li>
									<li><a href="/events">events</a></li>
									<li class="active"><a href="#">blog</a></li>
									<li><a href="/contact">contact</a></li>
								</ul>
								<div class="search_button"><i class="fa fa-search" aria-hidden="true"></i></div>
							</nav>

							<!-- Hamburger -->

							<div class="hamburger ml-auto">
								<i class="fa fa-bars" aria-hidden="true"></i>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Header Search Panel -->
		<div class="header_search_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="header_search_content d-flex flex-row align-items-center justify-content-end">
							<form action="#" class="header_search_form">
								<input type="search" class="search_input" placeholder="Search" required="required">
								<button class="header_search_button d-flex flex-column align-items-center justify-content-center">
									<i class="fa fa-search" aria-hidden="true"></i>
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>			
		</div>			
	</header>

	<!-- Menu -->

	<div class="menu d-flex flex-column align-items-center justify-content-center">
		<div class="menu_content">
			<div class="cross_1 d-flex flex-column align-items-center justify-content-center"><img src="static/images/logo.jpg" alt=""></div>
			<form action="#" class="menu_search_form">
				<input type="search" class="menu_search_input" placeholder="Search" required="required">
				<button class="menu_search_button d-flex flex-column align-items-center justify-content-center">
				<i class="fa fa-search" aria-hidden="true"></i>
			</button>
			</form>
			<nav class="menu_nav">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/sermons">Sermons</a></li>
					<li><a href="/events">Events</a></li>
					<li class="active"><a href="#">Blog</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</nav>
		</div>
		<div class="menu_close"><i class="fa fa-times" aria-hidden="true"></i></div>
	</div>

	<!-- Home -->

	<div class="home">
		<div class="home_background" style="background-image:url(static/images/events.jpg)"></div>
		<div class="home_content">
			<div class="container">
				<div class="row">
					<div class="col d-flex flex-row align-items-center justify-content-start">
						<div class="home_title">Blog</div>
						<div class="breadcrumbs ml-auto">
							<ul>
								<li><a href="/">Home</a></li>
								<li><a href="/blog">Blog</a></li>
								<li>Blog Single</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Blog Single -->

	<div class="blog">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="blog_image"><img src="static/images/blog.jpg" alt=""></div>

					<!-- Blog Post Title -->
					<div class="blog_post_title_container d-flex flex-row align-items-lg-center align-items-start justify-content-start">
						<div class="blog_post_date">
							<div class="d-flex flex-column align-items-center justify-content-center">
								<div class="blog_post_day">08</div>
								<div class="blog_post_month">mar</div>
							</div>
						</div>
						<div class="blog_post_title_content">
							<div class="blog_post_title">Moderator joins Pope Francis in call to prayer for peace</div>
							<div class="blog_post_meta">
								<ul>
									<li><i class="fa fa-user" aria-hidden="true"></i><a href="#">Ashley Young</a></li>
									<li><i class="fa fa-comment" aria-hidden="true"></i><a href="#">12</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="blog_post_text">
						<p>The Foursquare Church, officially named the International Church of the Foursquare Gospel, is a Pentecostal denomination that resulted from the dynamic evangelistic ministry of Aimee Semple McPherson, who opened the historic Angelus Temple on Jan. 1, 1923.</p>
						<p>Following the opening of Angelus Temple, our founder did not take time to rest on her laurels. The first “branch” church from Angelus Temple had its beginnings in Oct. 1923 in Long Beach, Calif. Other Los Angeles-area church plants rapidly ensued in Pasadena, Santa Monica, and Santa Ana; all four churches are still open today. As time passed, Foursquare branched out to the rest of the United States; we now have churches in most of the 50 states, including Hawaii and Alaska..</p>
						<div class="blog_post_quote">“ A church is a hospital for sinners, not a museum for saints. For where God built a church, there the Devil would also build a chapel.”</div>
						<p>The launch into foreign ministry fields also began in the 1920s. In 1927 Sister McPherson commissioned Vincente and Teodora DeFante as missionaries to the Philippines. Foursquare is still alive and well in the Philippines, which has a very strong national church presence. A former missionary herself, our founder’s desire to go around the world with the Foursquare Gospel led to The Foursquare Church’s being known as a missionary movement. At this time we have approximately 100 missionary units deployed throughout the world. From our earliest days, foreign missions was a primary emphasis—and remains so today.</p>
						<p>In Nigeria, the Church started in October 1955 through the endeavours of a missionary couple; Rev and Mrs. Harold Curtis from USA. The registered headquarters in Nigeria is at 62/66 Akinwunmi Street Yaba, Lagos State. The Foursquare Gospel Church in Nigeria currently has about 4032 churches spread over 154 districts and 824 zones as at September 2018. The Church in Nigeria has also reached out to neighboring countries and had established in the Republic of Benin, Ghana, Gambia, Liberia, Cote de voire and Central African Republic. Most of these churches in the west coast have been nationalized.</p>
						<p>Foursquare is still alive and well in the Philippines, which has a very strong national church presence. A former missionary herself, our founder’s desire to go around the world with the Foursquare Gospel led to The Foursquare Church’s being known as a missionary movement. At this time we have approximately 100 missionary units deployed throughout the world. From our earliest days, foreign missions was a primary emphasis—and remains so today</p>
						<p>For where God built a church, there the Devil would also build a chapel.”</div>
						<p>The launch into foreign ministry fields also began in the 1920s. In 1927 Sister McPherson commissioned Vincente and Teodora DeFante as missionaries to the Philippines. Foursquare is still alive and well in the Philippines, which has a very strong national church presence. A former missionary herself, our founder’s desire to go around the world with the Foursquare Gospel led to The Foursquare Church’s being known as a missionary movement. At this time we have approximately 100 missionary units deployed throughout the world.</p>
					</div>
					<div class="social_and_tags d-flex flex-lg-row flex-column align-items-start justify-content-start">
						<div class="blog_social">
							<ul>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
							</ul>
						</div>
						<div class="blog_post_tags ml-lg-auto">
							<ul>
								<li><a href="#">faithful</a></li>
								<li><a href="#">sermon</a></li>
								<li><a href="#">news</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Comments -->

			<div class="row comments_row">
				<div class="col">
					<div class="comments">
						<div class="comments_title"><span>3</span> comments</div>
						<div class="comments_container">
							<ul class="comments_list">

								<!-- Comment -->
								<li class="comment">
									<div class="comment_container d-flex flex-row align-items-start justify-content-start">
										<div class="avatar"><div><img src="static/images/avatar_1.jpg" alt=""></div></div>
										<div class="comment_content">
											<div class="comment_name"><a href="#">Daniel Craig</a></div>
											<div class="comment_time"><i class="fa fa-clock-o" aria-hidden="true"></i><span>08 MAR 2018</span></div>
											<div class="comment_text">
												<p>The program will commence at the youth cathedral, where all interested people join the worship team.</p>
											</div>
											<div class="reply"><a href="#">reply</a></div>
										</div>
									</div>
									<ul>

										<!-- Comment -->
										<li class="comment">
											<div class="comment_container d-flex flex-row align-items-start justify-content-start">
												<div class="avatar"><div><img src="static/images/avatar_2.jpg" alt=""></div></div>
												<div class="comment_content">
													<div class="comment_name"><a href="#">Ginny Weasley</a></div>
													<div class="comment_time"><i class="fa fa-clock-o" aria-hidden="true"></i><span>08 MAR 2018</span></div>
													<div class="comment_text">
														<p>The program will commence at the youth cathedral, where all interested people join the worship team.</p>
													</div>
													<div class="reply"><a href="#">reply</a></div>
												</div>
											</div>
										</li>
									</ul>
								</li>

								<!-- Comment -->
								<li class="comment">
									<div class="comment_container d-flex flex-row align-items-start justify-content-start">
										<div class="avatar"><div><img src="static/images/avatar_1.jpg" alt=""></div></div>
										<div class="comment_content">
											<div class="comment_name"><a href="#">Omolewa Stephen</a></div>
											<div class="comment_time"><i class="fa fa-clock-o" aria-hidden="true"></i><span>08 MAR 2018</span></div>
											<div class="comment_text">
												<p>The program will commence at the youth cathedral, where all interested people join the worship team.</p>
											</div>
											<div class="reply"><a href="#">reply</a></div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<!-- Leave your comment -->

			<div class="row leave_comment_row">
				<div class="col">
					<div class="leave_comment">
						<div class="leave_comment_title">leave your comment</div>
						<div class="leave_comment_form_container">
							<form action="#">
								<div class="row">
									<div class="col-lg-6">
										<input type="text" class="form_input" placeholder="Your Name" required="required">
									</div>
									<div class="col-lg-6">
										<input type="email" class="form_input email_input" placeholder="Your Email" required="required">
									</div>
									<div class="col-12">
										<textarea class="form_text" placeholder="Your Message" required="required"></textarea>
										<button type="submit" class="form_submit_button">send comment</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<!-- Footer -->

	<footer class="footer">
		<div class="footer_background parallax-window" data-parallax="scroll" data-image-src="static/images/footer.jpg" data-speed="0.8"></div>
		<div class="container">
			<div class="row">

				<!-- Footer - Contact -->
				<div class="col-lg-4 footer_col">
					<div class="footer_column footer_contact_column">
						<div class="footer_logo_container">
							<a href="#">
								<div class="footer_logo"><img src="static/images/logo2.jpg" alt=""></div>
								<div class="footer_logo_text">mimosan</div>
							</a>
						</div>
						<div class="footer_contact">
							<ul>
								<li><div><i class="fa fa-map-marker" aria-hidden="true"></i></div><span>Library Road, Okenu, Ilaro Ogun State. Nigeria</span></li>
								<li><div><i class="fa fa-phone" aria-hidden="true"></i></div><span>+234 7037 6036 58</span></li>
								<li><div><i class="fa fa-envelope" aria-hidden="true"></i></div><span>info.fsf_ilaro@gmail.com</span></li>
							</ul>
						</div>
					</div>
				</div>

				<!-- Footer - Links -->
				<div class="col-lg-4 footer_col">
					<div class="footer_column footer_links">
						<div class="footer_title">useful links</div>
						<ul class="footer_links_list">
							<li><a href="/about"><i class="fa fa-angle-double-right" aria-hidden="true"></i> About us</a></li>
							<li><a href="/contact"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Contact</a></li>
							<li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Donation</a></li>
							<li><a href="/blog"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Blog</a></li>
							<li><a href="/sermons"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Sermons</a></li>
							<li><a href="/events"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Events</a></li>
							<li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Service</a></li>
							<li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Media</a></li>
						</ul>
					</div>
				</div>

				<!-- Footer - Subscribe -->
				<div class="col-lg-4 footer_col">
					<div class="footer_column footer_subscribe">
						<div class="footer_title">subscribe</div>
						<div class="footer_text">Join our weekly email newsletter to receive news, events and other announcements about what is going on at our church.</div>
						<div class="footer_form_container">
							<form action="#" class="footer_form">
								<div>
									<input type="email" class="subscribe_input" placeholder="Enter your email" required="required">
									<button class="subscribe_button trans_200" type="submit">subscribe</button>
								</div>
							</form>
						</div>
					</div>
				</div>

			</div>
			<div class="row copyright_row">
				<div class="col">
					<div class="copyright_container d-flex flex-lg-row flex-column align-items-center justify-content-lg-start justify-content-center">
						<div class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="/https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
						<div class="footer_social ml-lg-auto">
							<ul>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="styles/bootstrap4/popper.js"></script>
<script src="styles/bootstrap4/bootstrap.min.js"></script>
<script src="plugins/easing/easing.js"></script>
<script src="plugins/parallax-js-master/parallax.min.js"></script>
<script src="plugins/colorbox/jquery.colorbox-min.js"></script>
<script src="js/blog_single.js"></script>
</body>
</html>